<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="bootstrap/dist/css/bootstrap.min.css">
    <script src="bootstrap/dist/js/bootstrap.min.js"></script>
    <title>Contact Us</title>
</head>
<body>
    <%- include('partials/navbar.ejs') %>
    <div class="container-lg">
        <h1>contact us page</h1>
    </div>
</body>
</html>