<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../bootstrap/dist/css/bootstrap.min.css">
    <script src="../../bootstrap/dist/js/bootstrap.min.js"></script>
    <title>Edit</title>
</head>
<body class="bg-body">
    <%- include('partials/navbar.ejs') %>
    <div class="container-lg">
        <form action="/post/edit/<%= title %>" method="post">
            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input type="text" class="form-control" name="title" id="title" value="<%= title %>">
            </div>
            <div class="mb-3">
                <label for="content" class="form-label">Content</label>
                <textarea class="form-control" name="content" id="content" style="height: 200px;"><%= content %></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</body>
</html>