<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="bootstrap/dist/css/bootstrap.min.css">
    <script src="bootstrap/dist/js/bootstrap.min.js"></script>
    <title>Index</title>
</head>
<body class="container-lg">
    <%- include('partials/navbar.ejs') %>
    <% if(posts.length == 0) { %>
        <h1>Looks Like You Haven't Posted Yet.</h1>
        <a class="btn btn-primary" href="/post/new">Add Your First Post</a>
    <% } else {%>
        <% for(let i = 0; i < posts.length; ++i){ %>
            <div class="post bg-body-teritary">
                <div><%= posts[i]["title"] %></div>
                <div><%= posts[i]["content"] %></div>
            </div>    
        <% } %>
    <% } %>
</body>
</html>